<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Webowa Aplikacja Do Przeprowadzania Testow</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script th:src="@{/js/jquery-1.4.1.min.js}" src="../../js/jquery-1.4.1.min.js"></script>

<script>
	$(document).ready(
			function() {
				$('input:radio').change(function() {
					$(this).val($(this).prev().attr('name'));
				});

//				$("input[name=" + $("#err").val() + "]").css('border-color',
//						'red');

				$.ajax({
					url : "/courses/allCourses/",
					type : "GET",
					success : function(data) {
						$.each(data, function(i) {
							$("#courseLista").append(
									new Option(data[i].name, data[i].name));
						});
					}
				});

			});
</script>
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
</head>
<body>
	<a style="float: left" id="genTest" href="/quest/questMng"
		th:href="@{/quest/questMng}"><div class="button">Powrót</div></a>

	<a style="float: right" href="/logout" th:href="@{/logout}"><div
			class="button">Wyloguj</div></a>
	<br />
	<br />
	<div height="100px" id="errorDiv" align="right">
		<p id="err" th:text="${error}" style="color: red;"></p>
	</div>

	<form action="#" th:action="@{/quest/create}" th:object="${answer}"
		method="post">
		Pytanie: <input type="text" name="content"
			th:value="${answer.content}"
			th:class="${#fields.hasErrors('content')}? 'error'" /><br /> <br />
		Ilość punktów: <input type="number" name="points"
			th:value="${answer.points}" /><br
			th:class="${#fields.hasErrors('points')}? 'error'" /> <br /> Odp. A
		<input type="text" name="answerA" th:value="${answer.answerA}"
			th:class="${#fields.hasErrors('answerA')}? 'error'" /><input
			type="radio" name="correctAnswer" /><br /> Odp. B <input
			type="text" name="answerB" th:value="${answer.answerB}"
			th:class="${#fields.hasErrors('answerB')}? 'error'" /><input
			type="radio" name="correctAnswer" value="" /><br /> Odp. C <input
			type="text" name="answerC" th:value="${answer.answerC}"
			th:class="${#fields.hasErrors('answerC')}? 'error'" /><input
			type="radio" name="correctAnswer" value="" /><br /> Odp. D <input
			type="text" name="answerD" th:value="${answer.answerD}"
			th:class="${#fields.hasErrors('answerD')}? 'error'" /><input
			type="radio" name="correctAnswer" value="" /><br /> Przedmiot: <select
			id="courseLista" name="courseGenere">
		</select> <input class="btn" type="submit" value="Dodaj" />
	</form>
</body>
</html>