<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Webowa Aplikacja Do Przeprowadzania Testow</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script>
$(document).ready(function() {
	$('input:radio').change(function() {
		        $(this).val($(this).prev().val());
		});
	}); 


</script>
</head>
<body>
	<form action="#" th:action="@{/quest/create}" th:object="${question}"
		method="post">
				Pytanie:  <input type="text" name="content" /><br/><br/>

Odp. A    <input type="text" name="answerA" /><input type="radio" name="correctAnswer" value=""/><br/>
Odp. B    <input type="text" name="answerB" /><input type="radio" name="correctAnswer" value=""/><br/>
Odp. C	  <input type="text" name="answerC" /><input type="radio" name="correctAnswer" value=""/><br/>
Odp. D    <input type="text" name="answerD" /><input type="radio" name="correctAnswer" value=""/><br/>
		
		<button type="submit">Dodaj</button>
	</form>
</body>
</html>