<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Webowa Aplikacja Do Przeprowadzania Testow</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

<script th:src="@{/js/jquery-1.4.1.min.js}" src="../../js/jquery-1.4.1.min.js"></script>
</head>
<body>
	<a style="float: left" id="genTest" href="/users/usersMng" th:href="@{/users/usersMng}"><div
			class="button">Powrót</div></a>

	<a style="float: right" href="/logout" th:href="@{/logout}"><div
			class="button">Wyloguj</div></a>
	<br />
	<br />
	<div height="100px" id="errorDiv" align="right">
		<p id="err" th:text="${error}" style="color: red;"></p>
	</div>


	<form action="#" th:action="@{/users/create}" th:object="${users}"
		method="post">
		Login: <input type="text" th:field="*{userName}"
			th:class="${#fields.hasErrors('userName')}? 'error'" /><br /> Hasło:
		<input type="text" th:field="*{password}"
			th:class="${#fields.hasErrors('password')}? 'error'" /><br />
		Numer indexu: <input type="text" th:field="*{indexNo}"
			th:class="${#fields.hasErrors('indexNo')}? 'error'" /><br /> Rola:
		<select name="auth">
			<option value="STUDENT">Student</option>
			<option value="LECTOR">Prowadzący</option>
			<option value="ADMIN">Administrator</option>
		</select>
		<button class="button" type="submit">Dodaj</button>
		<br />
	</form>
</body>
</html>