<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edyjca pytan</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script src="../../js/jquery-1.4.1.min.js"></script>
<script src="../../js/jquery-ui.min.js"></script>
<script src="../../js/jquery.twbsPagination.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>

<link rel="stylesheet" th:href="@{/js/jquery-ui.min.css}"
	href="../../ja/jquery-ui.min.css" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"
	href="../../css/bootstrap.css" />

<script type="text/javascript" th:inline="javascript">
	function deleteQuest(questId) {

		$.ajax({
			url : "/quest/delete/" + questId,
			type : "DELETE",
			success : function() {
				location.reload();
			},
			error : function() {
				alert("Nie można usunąć, pytanie jest używane");
			}
		});
	}

	function getPage(pageNum) {
		var courseName = [[${courseName}]];
		
		$.ajax({
					url : "/quest/getAll/" + courseName + "/" + pageNum,
					type : "GET",
					success : function(result) {
						$("#paginatedTable").find("tr:gt(0)").remove();
						$
								.each(
										result,
										function(i) {
											$('#paginatedTable > tbody:last')
													.append(
															'<tr>'
																	+ '<td>'
																	+ result[i].id
																	+ '</td>'
																	+ '<td>'
																	+ result[i].content
																	+ '</td>'
																	+ '<td>'
																	+ result[i].points
																	+ '</td>'
																	+ '<td><input class="btn" type="button" value="delete" id="' +result[i].id + '"/>'
																	+ '<input class="btn" type="button" value="edit" id="' + result[i].id + '"/></td>'
																	+ '</tr>');
										});
					}
				});
	}

	function edit(questId) {
		$.ajax({
			url : "/quest/edit/" + questId,
			type : "GET",
			success : function(data) {
				document.getElementById("editDialog").innerHTML = data;
				$("#editDialog").dialog("open");
			}
		});
	}

	var FIRST_PAGE = 1;

	$(document).ready(function() {

		var myObject = [[${questions}]];
		if (myObject != null) {
		$("#editDialog").dialog({
		autoOpen : true,
		});
		} else {
		$("#editDialog").dialog({
		autoOpen : false,
		});
		}

		getPage(FIRST_PAGE);
		$('#pagination-demo').twbsPagination({
			totalPages : 35,
			visiblePages : 5,
			first : "Pierwsza",
			last : "Ostatnia",
			next : 'Następny',
			prev : 'Poprzedni',
			onPageClick : function(event, page) {
				getPage(page);
			}
		});

		$(document).on("click", "input[type=button]", function() {
			if ($(this).val() === "delete") {
				var conf = confirm("Czy na pewno usunąć to pytanie ?");
				if (conf == true) {
					deleteQuest($(this).attr('id'));
				} else {
				}
			} else {
				edit($(this).attr("id"));
			}
		});
	});
</script>

</head>
<body>
	<div height="100px" id="errorDiv" align="right">
		<p id="err" th:text="${error}" th:value="${error}" style="color: red;"></p>
	</div>

	<div id="editDialog" title="Edytuj">
		<form action="#" th:action="@{/quest/edit}" th:object="${questions}"
			method="post">

			<div th:each="quest : ${questions}" th:field="*{questions}">

				<input type="text" th:name="id" th:value="${quest.id}"
					style="display: none"></input> Pytanie: <input type="text"
					th:name="content" th:value="${quest.content}"
					th:class="${#fields.hasErrors('content')}? 'error'"></input>

				Punkty: <input type="number" th:name="points"
					th:value="${quest.points}"
					th:class="${#fields.hasErrors('points')}? 'error'"></input> <input
					type="text" th:name="answerA" th:value="${quest.answerA}"
					th:class="${#fields.hasErrors('answerA')}? 'error'"></input> <input
					type="radio" th:name="correctAnswer" value="answerA"
					th:checked="${quest.correctAnswer}=='answerA'"></input> <input
					type="text" th:name="answerB" th:value="${quest.answerB}"
					th:class="${#fields.hasErrors('answerB')}? 'error'"></input> <input
					type="radio" th:name="correctAnswer" value="answerB"
					th:checked="${quest.correctAnswer}=='answerB'"></input> <input
					type="text" th:name="answerC" th:value="${quest.answerC}"
					th:class="${#fields.hasErrors('answerC')}? 'error'"></input> <input
					th:type="radio" th:name="correctAnswer" th:value="answerC"
					th:checked="${quest.correctAnswer}=='answerC'"></input> <input
					type="text" th:name="answerD" th:value="${quest.answerD}"
					th:class="${#fields.hasErrors('answerD')}? 'error'"></input> <input
					th:type="radio" th:name="correctAnswer" th:value="answerD"
					th:checked="${quest.correctAnswer}=='answerD'"></input> Przedmiot:
				<select name="courseGenere">

					<option value="Algebra">Algebra</option>
					<option value="Analiza">Analiza</option>
					<option value="Informatyka">Informatyka</option>
					<option value="Fizyka">Fizyka</option>
				</select>
			</div>
			<button id="btn" class="button" type="submit">Edytuj</button>
		</form>
	</div>

	<table id="paginatedTable" class="table">
		<thead>
			<tr>
				<td>Id</td>
				<td>Treść</td>
				<td>Ilość Punktów</td>
				<td>Edycja</td>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>

	<div id="page-content"></div>
	<ul id="pagination-demo" class="pagination-sm pagination">
	</ul>

	<a href="/logout" th:href="@{/logout}"><div class="button">Wyloguj</div></a>
</body>

</html>