<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Webowa Aplikacja Do Przeprowadzania Testow</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
</head>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script>
$(document).ready(function() {
	getRole();
});

function getRole() {
	$.get("/users/role", function( data ) {
		if (data === "STUDENT") {
			$("#questMng").hide();
			$("#usersMng").hide();
		} else if (data === "ADMIN") {
			$("#genTest").hide();
			$("#questMng").hide();
		} else {
			$("#usersMng").hide();
			$("#genTest").hide();
		}
	});
}
</script>

<body>
	<a id="genTest" href="/test" th:href="@{/test}"><div class="button">Wygeneruj
			test</div></a>
			
			
			<div align="center" font-size = "25px" color="red">W bazie nie ma wystarczającej ilości pytań !</div>
</body>
</html>