<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<script th:src="@{/js/jquery-1.4.1.min.js}" src="../../js/jquery-1.4.1.min.js"></script>
<script th:src="@{/js/jquery-ui.min.js}" src="../../js/jquery-ui.min.js"></script>
<script th:src="@{/js/jquery.twbsPagination.min.js}" src="../../js/jquery.twbsPagination.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>

<title>Webowa Aplikacja Do Przeprowadzania Testow</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"
	href="../../css/bootstrap.css" />

<script>
	function getPage(pageNum) {
		$.ajax({
			url : "/stats/statsForUser/" + pageNum,
			type : "GET",
			success : function(result) {
				$("#paginatedTable").find("tr:gt(0)").remove();
				$.each(result, function(i) {
					if (result[i].date != null) {
						var date = new Date(result[i].date);
						var dateString = date.getDate() + "-" + date.getMonth()
								+ "-" + date.getFullYear() + date.getHours()
								+ ":" + date.getMinutes() + ":"
								+ date.getSeconds();
					} else {
						dateString = "Brak Daty";
					}
					$('#paginatedTable > tbody:last').append(
							'<tr>' + '<td>' + result[i].testId + '</td>'
									+ '<td>' + result[i].studentId + '</td>'
									+ '<td>' + result[i].mark + '</td>'
									+ '<td>' + result[i].points + '</td>'
									+ '<td>' + result[i].maxPoints + '</td>'
									+ '<td>' + dateString + '</td>' + '</tr>');
				});
			}
		});
	}

	var FIRST_PAGE = 1;

	$(document).ready(function() {
		getPage(FIRST_PAGE);
		$('#pagination-demo').twbsPagination({
			totalPages : 35,
			visiblePages : 5,
			first : "Pierwsza",
			last : "Ostatnia",
			next : 'Następny',
			prev : 'Poprzedni',
			onPageClick : function(event, page) {
				getPage(page);
			}
		});
	});
</script>

</head>
<body>
	<a style="float: left" id="genTest" href="/"
		th:href="@{/}"><div class="button">Powrót</div></a>

	<a style="float: right" href="/logout" th:href="@{/logout}"><div
			class="button">Wyloguj</div></a>
	<br />
	<br />
	
	<table id="paginatedTable" class="table">
		<thead>
			<tr>
				<td>Id testu</td>
				<td>Id studenta</td>
				<td>Ocena</td>
				<td>Punkty</td>
				<td>Maksymalna ilość punktów</td>
				<td>Data ukończenia</td>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>

	<div id="page-content"></div>
	<ul id="pagination-demo" class="pagination-sm pagination">
	</ul>
</body>
</html>
