<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script>
	function send(data) {
		$.ajax({
			url : "/checkTest",
			type : "POST",
			contentType : "application/json",
			data : JSON.stringify(data),
			success : function(data) {
				$("#result").text("Wynik: " + data);
			}
		});
	}

	$(document).ready(
			function() {
				$("#send").click(
						function() {
							var array = [];
							$(document).find("div").each(
									function() {
										var divId = $(this).parent()
										.attr("id");
										var radioButtons = document
												.getElementsByName(divId);

										console.log(radioButtons[0] + "id "
												+ $(this).attr("id") + " " + divId);
										var ans = '';
										if (radioButtons[0].checked) {
											ans = 'answerA';
										} else if (radioButtons[1].checked) {
											ans = 'answerB';
										} else if (radioButtons[2].checked) {
											ans = 'answerC';
										} else if (radioButtons[3].checked) {
											ans = 'answerD';
										}
										array.push({
											id : $(this).attr("id"),
											tick : ans
										});
									});
							send(array);
						});
			});
</script>
<title>Webowa Aplikacja Do Przeprowadzania Testow</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../views/style.css" th:href="@{/views/style.css}" />
</head>
<body>
	<a href="/logout" th:href="@{/logout}"><div class="button">Wyloguj</div></a>
	<form id="testForm" action="#" method="post">
		<table>
			<tr th:each="quest : ${test}">
				<div th:id="${quest.id}">
					<tr>
						<th>Pytanie:</th>
						<td th:text="${quest.content}"></td>
					</tr>


					<tr>
						<td th:text="${quest.answerA}"></td>
						<td><input type="radio" th:name="${quest.id}"></input></td>
					</tr>
					<tr>
						<td th:text="${quest.answerB}"></td>
						<td><input type="radio" th:name="${quest.id}"></input></td>
					</tr>
					<tr>
						<td th:text="${quest.answerC}"></td>
						<td><input type="radio" th:name="${quest.id}"></input></td>
					</tr>
					<tr>
						<td th:text="${quest.answerD}"></td>
						<td><input type="radio" th:name="${quest.id}"></input></td>
					</tr>
				</div>
			</tr>
		</table>
		<button class="button" id="send" type="button">Wyślij</button>
	</form>
	<p id="result"></p>
</body>
</html>
