<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Webowa Aplikacja Do Przeprowadzania Testow</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
</head>
<body>
	<a href="/userCreation" th:href="@{/userCreation}"><div
			class="button">Stwórz</div></a>
	<a href="/userDelete" th:href="@{/userDelete}"
		class="btn btn-large btn-success"><div class="button">Usuń</div></a>
	<a href="/userEdit" th:href="@{/userEdit}"
		class="btn btn-large btn-success"><div class="button">Edytuj</div></a></br>
	<a href="/logout" th:href="@{/logout}"><div class="button">Wyloguj</div></a>
</body>
</html>